<aside class="aside-bar">
        <div class="user d-flex">
          <div class="img me-2">
            <img src="../user.jpg" style="width: 60px" alt="" />
          </div>
          <div class="details">
            <p class="m-0">Mohamed</p>
            <a  class="nav-link">Full-Stack</a>
          </div>
        </div>
        <hr />
        <a href="/home">
          <div class="button active">
            <i class="fa-solid fa-chart-line"></i> <span>Dashboard</span>
          </div>
        </a>
        <a href="/projects">
          <div class="button">
            <i class="fa-solid fa-diagram-project"></i><span>Projects</span>
          </div>
        </a>
        <a href="/schedules">
          <div class="button">
            <i class="fa-solid fa-calendar-day"></i><span>Schedules</span>
          </div>
        </a>
        <a href="/settings">
          <div class="button">
            <i class="fa-solid fa-gear"></i><span>Settings</span>
          </div>
        </a>
        <div class="empty"></div>
        <a href="#">
          <div class="button r">
            <i class="fa-solid fa-headset"></i></i
            ><span>Help Center</span>
          </div>
        </a>
        <a href="#">
          <div class="button text-danger">
            <i class="fa-solid fa-arrow-right-from-bracket"></i
            ><span>Logout</span>
          </div>
        </a>
        <div class="aside-toggler">
          <i class="fa-solid fa-bars"></i>
        </div>
</aside>
<div class="aside-overlay overlay d-md-none "></div>

<script>
  document.querySelector('.aside-toggler').addEventListener('click',()=>{
    document.querySelector('aside').classList.toggle('opened')
    checkAsideOverlay()
  })
  document.querySelector('.aside-overlay').addEventListener('click',()=>{
        document.querySelector('aside').classList.remove('opened')
        document.querySelector('.aside-overlay').style.display='none'
  })
  function checkAsideOverlay(){
    if(document.querySelector('aside').classList.contains('opened')){
      document.querySelector('.aside-overlay').style.display='block'
    }else{
      document.querySelector('.aside-overlay').style.display='none'
    }
  }

  checkAsideOverlay()
</script>