<div class="my-tasks">
  <div class="d-flex justify-content-between w-100">
    <p class="fw-bold">My Tasks</p>
    <a href="/projects/create"><i class="fa-regular fa-square-plus"></i></a>
  </div>
  <div class="tasks-container">
  </div>
</div>
