<div class="performance">
  <div class="p-header d-flex justify-content-between w-100">
    <p>Performance</p>
    <a href="/projects">See all</a>
  </div>
  <div class="performance-details">
    <div class="containerP">
      <div class="circular-progress">
        <span class="progress-value">0%</span>
      </div>
      <span class="text">Completed Projects</span>
    </div>
  </div>
</div>
