<div class="row justify-content-center align-items-center">
  <div class="col-lg-3 col-md-6 col-12 mb-2">
    <div class="stat-card total w-100">
      <p class="ctr total" data-ctr="12">0</p>
      <span class="text-light">total Projects</span>
      <i class="fa-solid fa-basketball"></i>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-12 mb-2">
    <div class="stat-card in-progress w-100">
      <p class="ctr inprogress" data-ctr="2">0</p>
      <span class="text-light">in progress</span>
      <i class="fa-solid fa-clipboard-list"></i>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12 mb-2">
    <div class="stat-card not-completed w-100">
      <p class="ctr notCompleted" data-ctr="5">0</p>
      <span class="text-light">not completed</span>
      <i class="fa-regular fa-circle-xmark"></i>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12 mb-2">
    <div class="stat-card completed w-100">
      <p class="ctr completed" data-ctr="6">0</p>
      <span class="text-light">completed Projects</span>
      <i class="fa-regular fa-circle-check"></i>
    </div>
  </div>
</div>
