<div class="today-schdule mt-5">
  <div class="t-head d-flex justify-content-between align-content-center">
    <h2>Today's Schedule</h2>
    <a href="/schedules" class="mt-2">see all</a>
  </div>
  <hr />
  <div class="schedule-list">
    <ol type="number " class="schedule-list-container" start="1">
      
    </ol>
  </div>
</div>
