<div class="today-schdule mt-5">
  <div class="t-head d-flex justify-content-between align-content-center">
    <h2>Today's Schedule</h2>
    <a href="#" class="mt-2">see all</a>
  </div>
  <hr />
  <div class="schedule-list">
    <ol type="number" start="1">
      <li><a href="#">Meet Ali</a></li>
      <li><a href="#">Grad Project</a></li>
    </ol>
  </div>
</div>
