<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <div class="404">
      <div class="container">
        <div class="404-content text-center">
          <img src="./404.jpg" class="img-fluid" style="width: 600px" alt="" />
          <h2 class="mb-4">404 - Looks like you're lost</h2>
          <p>
            Maybe this page is not used to exist or just spelled something wrong
          </p>
          <p>
            Chances you're spelled something wrong, so you can double check the
            URL ?
          </p>
          <a href="/home"
            ><button class="custom-btn blue text-light mt-2">
              Back Home
            </button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
