<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="landing">
      <%- include('./partials/landingHeader.ejs')%>
      <div class="intro">
        <h1 class="text-center">
          Be more <span>effective</span> <br />and less busy
        </h1>
        <p class="text-muted text-center">
          We help you work in flow state by streamlining your <br />
          meeting and making it easier to prioritize tasks
        </p>
        <button class="btn btn-primary rounded-pill p-4">Get Started</button>
        <img src="./todo.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
