<div class="col-lg-3 col-md-6 col-12 mb-4">
  <div class="projects-section-title">
    <p>Not Completed</p>
  </div>
  <hr />
  <div class="tasks">
    <div class="notCompleted-task task-box mb-2">
      <div class="info d-flex justify-content-between p-2">
        <span class="date">Today</span>
        <a href="#" class="browse"
          ><i class="fa-solid fa-up-right-from-square"></i
        ></a>
      </div>
      <div class="task-name mt-3 mb-2">
        <p>Developing Management Website</p>
      </div>
      <div class="time px-4">
        <span class="time-hours text-muted">9:00am : 2:30pm</span>
      </div>
      <div class="status">
        <i class="fa-solid fa-xmark text-danger fs-4"></i>
      </div>
    </div>
  </div>
</div>
