<div class="Tasks-container mt-5">
  <h2 class="ps-2 mb-4 text-muted">July</h2>
  <div class="schedules">
    <div class="schedule-box">
      <div class="date">
        <p class="week-day">Sat</p>
        <p class="number-day">2</p>
      </div>
      <div class="time-location">
        <p class="time-schedule">
          <i class="fa-solid fa-clock me-4">
            <span class="from ms-3">09:00</span> -
            <span class="to">09:30</span></i
          >
        </p>
        <p class="location">
          <i class="fa-solid fa-location-dot me-3"></i>
          <span class="where">Online</span>
        </p>
      </div>
      <div class="schedule">
        <h3>Meet Mohamed to go to the party</h3>
      </div>
      <div class="edit">
        <button class="btn btn-outline-dark">Edit</button>
        <button class="btn btn-outline-danger">Cancel</button>
      </div>
    </div>
  </div>
</div>
